.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 260px;
<<<<<<< Updated upstream
  background: #f9fafb;
=======
  background: #f5f5f5;
>>>>>>> Stashed changes
  min-height: 100vh;
}
